@using Carlton.Core.Utilities.Logging;


<div class="table-row starting-row" @onclick="() => Expanded=!Expanded">
    <div class="table-call plus-minus-cell"><span class="mdi mdi-24px @(Expanded ? "mdi-minus" : "mdi-plus")"></span></div>
    <div class="table-cell"><span class="cell-text">@GroupedLogs.StartingMessage.Timestamp.ToString("MM/dd/yyyy HH:mm:ss.fff")</span></div>
    <div class="table-cell"><span class="cell-text">@GroupedLogs.StartingMessage.Message</span></div>
    <div class="table-cell"><LogLevelPill LogLevel="@GroupedLogs.StartingMessage.LogLevel" /></div>
    <div class="table-cell"><span class="cell-text">@GroupedLogs.StartingMessage.EventId</span></div>
    <div class="table-cell"><span class="cell-text">@GroupedLogs.StartingMessage.EventName</span></div>
</div>

@foreach (var child in GroupedLogs.ChildMessages)
{
    <div class="table-row child-row @(Expanded ? string.Empty : "collapsed")">
        <div class="table-call"><span class="mdi mdi-18px mdi-plus hidden"></span></div>
        <div class="table-cell"><span class="cell-text">@child.Timestamp.ToString("MM/dd/yyyy HH:mm:ss.fff")</span></div>
        <div class="table-cell"><span class="cell-text">@child.Message</span></div>
        <div class="table-cell"><LogLevelPill LogLevel="@child.LogLevel" /></div>
        <div class="table-cell"><span class="cell-text">@child.EventId</span></div>
        <div class="table-cell"><span class="cell-text">@child.EventName</span></div>
    </div>
}

<div class="table-row ending-row">
    <div class="table-call"><span class="mdi mdi-18px mdi-plus hidden"></span></div>
    <div class="table-cell"><span class="cell-text">@GroupedLogs.EndingMessage.Timestamp.ToString("MM/dd/yyyy HH:mm:ss.fff")</span></div>
    <div class="table-cell"><span class="cell-text">@GroupedLogs.EndingMessage.Message</span></div>
    <div class="table-cell"><LogLevelPill LogLevel="@GroupedLogs.EndingMessage.LogLevel"/></div>
    <div class="table-cell"><span class="cell-text">@GroupedLogs.EndingMessage.EventId</span></div>
    <div class="table-cell"><span class="cell-text">@GroupedLogs.EndingMessage.EventName</span></div>
</div>



@code {
    [Parameter]
    public required GroupedLogMessage GroupedLogs { get; set; }

    private bool Expanded { get; set; }
}
