@namespace Carlton.Core.Components.Navigation
@typeparam TValue

<div class="accordion-select">
    <div class="content">
        <div class="@AccordionHeaderCssClass" @onclick="() => OnAccordionClick()">
            <span class="@AccordionIconBtnCssClass"></span>
            <span class="item-group-name">
                @Title
            </span>
        </div>
        <div class="@ItemContainerCssClass">
            @foreach (var item in Items)
            {
                <div class="@ItemCss(item.Index)" @onclick="() => OnItemSelected(item)">
                    <span class="@ItemIconCss"></span>
                    <span class="item-name">
                        @item.Name
                    </span>
                </div>
            }
        </div>
    </div>
</div>

@code {
    [Parameter]
    public string Title { get; set; }

    [Parameter]
    public IEnumerable<SelectItem<TValue>> Items { get; set; } = new List<SelectItem<TValue>>();

    [Parameter]
    public int SelectedIndex { get; set; } = -1;

    [Parameter]
    public bool IsExpanded { get; set; }

    [Parameter]
    public EventCallback<SelectItem<TValue>> SelectedItemChanged { get; set; }

    [Parameter]
    public EventCallback<bool> ExpandedStateChanged { get; set; }

    public TValue SelectedValue { get => SelectedIndex == -1 ? default(TValue) : Items.ElementAt(SelectedIndex).Value; }

    protected override void OnInitialized()
    {
        var indiciesAreInvalid = SelectedIndex < -1 || //Index less than -1 not allowed
                                 (!Items.Any() && SelectedIndex != -1) || //Empty items must have index -1
                                 (Items.Any() && SelectedIndex > Items.Count() - 1); //Non-Empty items must have index within group count

        if (indiciesAreInvalid)
            throw new ArgumentException("The SelectedIndex parameter value is invalid.");

        base.OnInitialized();
    }

    private async Task OnAccordionClick()
    {
        IsExpanded = !IsExpanded;
        await ExpandedStateChanged.InvokeAsync(IsExpanded);
    }

    private async Task OnItemSelected(SelectItem<TValue> item)
    {
        SelectedIndex = item.Index;
        await SelectedItemChanged.InvokeAsync(item);
    }

    private string AccordionHeaderCssClass
    {
        get => new CssBuilder("accordion-header")
                .AddClass("selected", SelectedIndex != -1)
                .Build();
    }

    private string AccordionIconBtnCssClass
    {
        get => new CssBuilder("accordion-icon-btn")
                 .AddClass("mdi mdi-icon mdi-24px")
                 .AddClass("mdi-minus-box-outline", IsExpanded)
                 .AddClass("mdi-plus-box-outline", !IsExpanded)
                 .Build();
    }

    private string ItemContainerCssClass
    {
        get => new CssBuilder("item-container")
                 .AddClass("collapsed", !IsExpanded)
                 .Build();
    }

    private Func<int, string> ItemCss
    {
        get => (index) => new CssBuilder("item")
            .AddClass("selected", SelectedIndex == index)
            .Build();
    }

    private string ItemIconCss
    {
        get => new CssBuilder("icon")
               .AddClass("mdi mdi-icon mdi-12px mdi-bookmark")
               .Build();
    }
}