@using Microsoft.JSInterop
@namespace Carlton.Core.Components.Toasts
@implements IAsyncDisposable
@inject IJSRuntime JS;

@* Represents a toast component for displaying toast notification content. *@
<div id="@ToastId" class="@ToastCss">
    <div class="content">
        <span class="@IconCss"></span>
        <div class="message-container">
            <span class="title">@Title</span>
            <span class="message">@Message</span>
        </div>
        <span class="@DismissCss" @onclick="@Dismiss"></span>
    </div>
</div>

@code {
    /// <summary>
    /// Represents the path for importing the Toast JavaScript file.
    /// </summary>
    public const string ImportPath = $"./_content/{Constants.ProjectName}/Toasts/Toast.razor.js";

    /// <summary>
    /// Represents the name of the JavaScript function used to initialize a new toast.
    /// </summary>
    public const string InitNewToast = "initNewToast";

    /// <summary>
    /// Represents the name of the JavaScript function used to dispose of a toast.
    /// </summary>
    public const string DisposeToast = "disposeToast";

    /// <summary>
    /// Gets or sets the ID of the toast. Used so JavaScript setup and tear down can identify individual toasts/
    /// </summary>
    [Parameter]
    public int Id { get; set; }

    /// <summary>
    /// Gets or sets the title of the toast.
    /// </summary>
    [Parameter]
    public string Title { get; set; }

    /// <summary>
    /// Gets or sets the message content of the toast.
    /// </summary>
    [Parameter]
    public string Message { get; set; }

    /// <summary>
    /// Gets or sets the type of toast.
    /// </summary>
    [Parameter]
    public ToastTypes ToastType { get; set; }

    /// <summary>
    /// Gets or sets a value indicating whether fade-out animation is enabled for the toast.
    /// </summary>
    [Parameter]
    public bool FadeOutEnabled { get; set; }

    /// <summary>
    /// Gets or sets a value indicating whether the toast is dismissed.
    /// </summary>
    [Parameter]
    public bool IsDismissed { get; set; } = false;

    /// <summary>
    /// Gets or sets the callback invoked when the toast is dismissed.
    /// </summary>
    [Parameter]
    public EventCallback OnDismissed { get; set; }

    private string ToastId { get => $"toast-{Id}"; }

    private IJSObjectReference _module;

    protected override async Task OnInitializedAsync()
    {
        await base.OnInitializedAsync();
    }

    protected override async Task OnParametersSetAsync()
    {
        var tasks = new List<Task>();
        tasks.Add(base.OnParametersSetAsync());

        if (FadeOutEnabled && !IsDismissed)
        {
            tasks.Add(Task.Run(async () =>
            {
                IsDismissed = true;
                await Task.Delay(3000);
            }));
        }

        await Task.WhenAll(tasks);
    }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            _module = await JS.InvokeAsync<IJSObjectReference>(Constants.Import, ImportPath);
            await _module.InvokeAsync<Task>(InitNewToast, DotNetObjectReference.Create(this), nameof(HandleDismiss), Id);
        }

        await base.OnAfterRenderAsync(firstRender);
    }

    /// <summary>
    /// Handles the dismissal of the toast.
    /// </summary>
    [JSInvokable("HandleDismiss")]
    public async Task HandleDismiss()
    {
        await OnDismissed.InvokeAsync();
    }

    private string IconCss =>
        new CssBuilder("icon")
            .AddClass("mdi mdi-24px")
            .AddClass("mdi-check-circle", ToastType == ToastTypes.Success)
            .AddClass("mdi-alert-circle-outline", ToastType == ToastTypes.Info)
            .AddClass("mdi-alert", ToastType == ToastTypes.Warning)
            .AddClass("mdi-alert-circle-outline", ToastType == ToastTypes.Error)
            .Build();



    private string ToastCss =>
        new CssBuilder("toast")
            .AddClass("success", ToastType == ToastTypes.Success)
            .AddClass("info", ToastType == ToastTypes.Info)
            .AddClass("warning", ToastType == ToastTypes.Warning)
            .AddClass("error", ToastType == ToastTypes.Error)
            .AddClass("dismissed", IsDismissed)
             .Build();


    private string DismissCss
        => new CssBuilder("dismiss")
            .AddClass("mdi mdi-18px mdi-close")
            .Build();

    private void Dismiss()
        => IsDismissed = true;

    /// <summary>
    /// Disposes the component asynchronously.
    /// </summary>
    public async ValueTask DisposeAsync()
    {
        await _module.InvokeAsync<Task>(DisposeToast, Id);
        await _module.DisposeAsync();
    }
}