@namespace Carlton.Core.Components.Dropdowns
@typeparam T

<div class="dropdown-menu" @onclick="() => IsActive = !IsActive">
    <div class="menu">@MenuTemplate</div>
    <div class="@DropdownMenuCss">
        <div class="header">@HeaderTemplate</div>
        <ul>
            @foreach (var item in MenuItems)
            {
                <li>
                    <span class="@MenuElementCss(item)"></span>
                    <a href="#" @onclick:preventDefault="true" @onclick="item.MenuItemSelected">@item.MenuItemName</a>
                </li>
            }
        </ul>
    </div>
</div>

@code {
    [Parameter]
    public IEnumerable<DropdownMenuItem<T>> MenuItems { get; set; } = new List<DropdownMenuItem<T>>();
    [Parameter]
    public RenderFragment MenuTemplate { get; set; }
    [Parameter]
    public RenderFragment HeaderTemplate { get; set; }

    protected bool IsActive { get; set; }

    private Func<DropdownMenuItem<T>, string> MenuElementCss
    {
        get => (item) => new CssBuilder()
                .AddClass($"mdi mdi-{item.MenuIcon}")
                .AddClass($"accent-color-{item.AccentColorIndex}")
                .Build();
    }

    private string DropdownMenuCss
    {
        get => new CssBuilder("dropdown-items")
            .AddClass("active", IsActive)
            .Build();
    }
}


