@namespace Carlton.Core.Components.Library.Lab
@using Carlton.Core.Components.Flux.Admin;
@using Carlton.Core.Components.Lab.Pages;


<Router AppAssembly="@typeof(Program).Assembly" 
    AdditionalAssemblies="new[] { typeof(LabPage).Assembly, typeof(FluxAdminLayout).Assembly }">
    <Found Context="routeData">
        <AdminView>
            <AdminContent>
                <RouteView RouteData="@routeData" DefaultLayout="@typeof(FluxAdminLayout)" />
            </AdminContent>
            <ApplicationContent>
                <RouteView RouteData="@routeData" DefaultLayout="@typeof(ComponentLabLayout)" />
            </ApplicationContent>
        </AdminView>
    </Found>
    <NotFound>
        <p>Sorry, there's nothing at this address.</p>
    </NotFound>
</Router>


