@namespace Carlton.Core.Components.Library.Lab
@using Carlton.Core.Components.Flux.Admin;
@using Carlton.Core.Components.Lab.Pages;


<Router AppAssembly="@typeof(Program).Assembly" 
    AdditionalAssemblies="new[] { typeof(LabPage).Assembly, typeof(FluxDebugLayout).Assembly }">
    <Found Context="routeData">
        <FluxDebugView>
            <DebugContent>
                <RouteView RouteData="@routeData" DefaultLayout="@typeof(FluxDebugLayout)" />
            </DebugContent>
            <ApplicationContent>
                <RouteView RouteData="@routeData" DefaultLayout="@typeof(ComponentLabLayout)" />
            </ApplicationContent>
        </FluxDebugView>
    </Found>
    <NotFound>
        <p>Sorry, there's nothing at this address.</p>
    </NotFound>
</Router>


