@using Carlton.Core.Flux.Debug.Components.Logging
@namespace Carlton.Core.Flux.Debug.Components.Logging.TraceLogging


<div class="table-row starting-row" @onclick="() => Expanded=!Expanded">
    <div class="table-cell plus-minus-cell"><span class="mdi mdi-24px @(Expanded ? "mdi-minus" : "mdi-plus")"></span></div>
    <div class="table-cell"><span class="cell-text">@LogEntryGroup.StartingEntry.Timestamp.ToString("MM/dd/yyyy HH:mm:ss.fffffff")</span></div>
    <div class="table-cell"><span class="cell-text">@LogEntryGroup.StartingEntry.Message</span></div>
    <div class="table-cell"><LogLevelPill LogLevel="@LogEntryGroup.StartingEntry.LogLevel" /></div>
    <div class="table-cell"><span class="cell-text">@LogEntryGroup.StartingEntry.EventId</span></div>
    <div class="table-cell"><span class="cell-text">@LogEntryGroup.StartingEntry.EventName</span></div>
</div>

@foreach (var child in LogEntryGroup.ChildEntries)
{
    <div class="table-row child-row @(Expanded ? string.Empty : "collapsed")">
        <div class="table-cell"></div>
        <div class="table-cell"><span class="cell-text">@child.Timestamp.ToString("MM/dd/yyyy HH:mm:ss.fffffff")</span></div>
        <div class="table-cell"><span class="cell-text">@child.Message</span></div>
        <div class="table-cell"><LogLevelPill LogLevel="@child.LogLevel" /></div>
        <div class="table-cell"><span class="cell-text">@child.EventId</span></div>
        <div class="table-cell"><span class="cell-text">@child.EventName</span></div>
    </div>
}

<div class="table-row ending-row">
    <div class="table-cell"></div>
    <div class="table-cell"><span class="cell-text">@LogEntryGroup.EndingEntry.Timestamp.ToString("MM/dd/yyyy HH:mm:ss.fffffff")</span></div>
    <div class="table-cell"><span class="cell-text">@LogEntryGroup.EndingEntry.Message</span></div>
    <div class="table-cell"><LogLevelPill LogLevel="@LogEntryGroup.EndingEntry.LogLevel"/></div>
    <div class="table-cell"><span class="cell-text">@LogEntryGroup.EndingEntry.EventId</span></div>
    <div class="table-cell"><span class="cell-text">@LogEntryGroup.EndingEntry.EventName</span></div>
</div>



@code {
    [Parameter]
    public required LogEntryGroup LogEntryGroup { get; set; }

    private bool Expanded { get; set; }
}
