@using Carlton.Core.Components.DropdownMenu
@namespace Carlton.Core.Components



<div class="profile-avatar-container">
    <DropdownMenu MenuItems="DropdownMenuItems" Style="Style">
        <MenuTemplate>
            <div class="profile-avatar">
                <img class="avatar-img text-center" src="@AvatarImgUrl" />
                <span class="username mobile-hide">@Username</span>
                <span class="icon mdi mdi-24px mdi-chevron-down mobile-hide"></span>
            </div>
        </MenuTemplate>
        <HeaderTemplate>
            <div class="header">
                <span class="user">Stephen Galazzo</span>
                <span class="email">Admin User</span>
                <Spacer WidthPercentage="85" />
            </div>
        </HeaderTemplate>
        <MenuItemTemplate Context="item">
            <DropdownMenuElement T="int"
                                 MenuItemName="@item.MenuItemName"
                                 Value="@item.Value"
                                 MenuIcon="@item.MenuIcon"
                                 AccentColorIndex="@item.AccentColorIndex"
                                 OnMenuItemSelected="MenuItemSelected" />
        </MenuItemTemplate>
    </DropdownMenu>
</div>

@code {
    [Parameter]
    public string AvatarImgUrl { get; set; }
    [Parameter]
    public string Username { get; set; }
    [Parameter]
    public EventCallback<int> MenuItemSelected { get; set; }
    [Parameter]
    public IEnumerable<DropdownMenuItem<int>> DropdownMenuItems { get; set; } = new List<DropdownMenuItem<int>>();

    private DropdownMenuStyle Style
    {
        get => new DropdownMenuStyle(-56, 57, 75);
    }
}   