@namespace Carlton.Core.Components.DropdownMenu
@typeparam T

<div class="dropdown-menu" @onclick="() => IsActive = !IsActive">
    <div class="menu">@MenuTemplate(IsActive)</div>
    <div class="dropdown @DropdownMenuCss" style="@DropdownMenuStyle">
        <ul>
            <div class="header">@HeaderTemplate</div>
                @foreach(var item in MenuItems)
                {
                    <li>
                        @MenuItemTemplate(item)
                    </li>
                }
        </ul>
    </div>
</div>

@code {
    private bool IsActive { get; set; }

    [Parameter]
    public IEnumerable<DropdownMenuItem<T>> MenuItems { get; set; } = new List<DropdownMenuItem<T>>();
    [Parameter]
    public RenderFragment HeaderTemplate { get; set; }
    [Parameter]
    public RenderFragment<bool> MenuTemplate { get; set; }
    [Parameter]
    public RenderFragment<DropdownMenuItem<T>> MenuItemTemplate { get; set; }
    [Parameter]
    public DropdownMenuStyle Style { get; set; }

    private string DropdownMenuCss
    {
        get => new CssBuilder()
            .AddClass("active", IsActive)
            .Build();
    }

    private string DropdownMenuStyle
    {
        get => new StyleBuilder()
            .AddStyle("--dropdown-left", $"{Style.Left}px")
            .AddStyle("--dropdown-top", $"{Style.Top}px")
            .AddStyle("--dropdown-top-mobile", $"{Style.Top_Mobile}px")
            .Build();
    }
}


